:root {
--safe-area-inset-top: env(safe-area-inset-top);
--safe-area-inset-bottom: env(safe-area-inset-bottom);
--safe-area-inset-left: env(safe-area-inset-left);
--safe-area-inset-right: env(safe-area-inset-right);
font-size: 62.5%;
color-scheme: var(--TWF4rw);
--TWF4rw: light;
--tN1MMA: #00c4cc;
--_mHLrA: #7df365;
--s0dOYA: #63ce4d;
--t-i8hw: #48a435;
--6899sQ: rgba(64,87,109,.07);
--4Yobmg: #fff;
--9QR_hg: rgba(36,49,61,.4);
--K12xjw: rgba(64,87,109,.07);
--B2THfg: rgba(57,76,96,.15);
--QYA_-A: rgba(53,71,90,.2);
--ctGD3w: rgba(64,87,109,.07);
--_T63JA: #0d1216;
--oXjekw: rgba(36,49,61,.4);
--sz5W9A: rgba(13,18,22,0);
--8ZR-UA: rgba(64,87,109,.07);
--H8nEqw: rgba(57,76,96,.15);
--zuehrg: rgba(13,18,22,0);
--fgALUw: #0d1216;
--n4L1sw: rgba(36,49,61,.4);
--S_zKBQ: rgba(17,23,29,.6);
--fPN_wg: rgba(13,18,22,.7);
--voBvjA: rgba(13,18,22,.86);
--VGxehA: rgba(17,23,29,.6);
--QErhlg: #fff;
--6kDNlA: hsla(0,0%,100%,.7);
--pyoCYg: rgba(57,76,96,.15);
--sXgitQ: rgba(43,59,74,.3);
--XGNWMw: rgba(57,76,96,.15);
--mgNb9w: rgba(57,76,96,.15);
--COXgsg: rgba(64,87,109,.07);
--GZwQFw: #fff;
--Do4LcA: #0d1216;
--BbP6vg: hsla(0,0%,100%,.5);
--cqkW_A: #008009;
--KIMsqg: #489d4a;
--6iD-Rg: #00660e;
--ykfPVA: rgba(64,87,109,.07);
--1GR_Og: #c1e7c2;
--P3bemg: #fff;
--7Jsj3A: #0d1216;
--Rd25lA: rgba(36,49,61,.4);
--DP6qqQ: #1a62ff;
--WJ9xxQ: #2e8cff;
--kJFizQ: #004bcc;
--YOy1kQ: rgba(64,87,109,.07);
--axckVg: #c2deff;
--TjZ4gg: #fff;
--ypAvbQ: #0d1216;
--yuDW1w: rgba(36,49,61,.4);
--xQOmAw: #ad5a00;
--SPKoBQ: #d17600;
--fNNFfQ: #8a4500;
--zbbe8w: rgba(64,87,109,.07);
--wpHozg: #ffd7a8;
--XPPBAg: #fff;
--a01w0A: #0d1216;
--vmcmsg: rgba(36,49,61,.4);
--IKngdQ: #db1436;
--IIHy3Q: #ff4757;
--9xoqAg: #b30024;
--rxOvlQ: rgba(64,87,109,.07);
--k8LaaQ: #ffd1d3;
--6hn8OQ: #fff;
--XRo-NQ: #0d1216;
--pEA5jw: rgba(36,49,61,.4);
--gUe8Cg: #ebecf0;
--M1YLEg: rgba(235,236,240,.7);
--fFUAeA: rgba(235,236,240,0);
--qK3n8w: #f4f4f6;
--jipWxQ: rgba(244,244,246,.7);
--OrGhJg: rgba(244,244,246,0);
--bDblYw: #fff;
--YlBJZQ: hsla(0,0%,100%,.7);
--Y5hieQ: hsla(0,0%,100%,0);
--TlUudQ: #fff;
--mMe_UA: hsla(0,0%,100%,.7);
--4Svp9Q: hsla(0,0%,100%,0);
--pUV7hA: #0d1216;
--FTyzZQ: rgba(13,18,22,.86);
--fSfh3A: rgba(13,18,22,.7);
--fzXPDA: rgba(17,23,29,.6);
---VkLcA: #008009;
--2sYJaA: #1a62ff;
--uYOVog: #ad5a00;
--05tvjQ: #db1436;
--U8IpiA: #b30024;
--gIHunw: #db1436;
--tkbyNg: #8b3dff;
--elFFpw: #7300e6;
--3zRlag: #8b3dff;
--7hnsIg: rgba(43,59,74,.3);
--hmBz5w: rgba(28,39,48,.5);
--3j0O2w: #8b3dff;
--6qQCNQ: rgba(57,76,96,.15);
--CgOmqg: #db1436;
--OHlWbw: rgba(57,76,96,.15);
--6TS0wQ: rgba(28,39,48,.5);
--bIodnw: rgba(28,39,48,.5);
--YkBpzA: #f4f4f6;
---2C5tw: rgba(64,87,109,.07);
--1IVhPQ: 0 0 0 1px rgba(64,87,109,.07),0 2px 8px rgba(57,76,96,.15);
--v_jISQ: 0 0 0 1px rgba(64,87,109,.07),0 2px 12px rgba(53,71,90,.2);
--MPmRHA: 0 0 0 1px rgba(64,87,109,.07),0 2px 18px rgba(43,59,74,.3);
--QjoAaQ: #f4f4f6;
--RvpKEw: hsla(0,0%,100%,.5);
--cT3jbA: 0.07;
--HtChog: 0.025;
--ps1udw: #f2f0ff;
--A6FU-g: hsla(0,0%,100%,.95);
--V2vieQ: #e0d9fc;
--Hie9jQ: var(--gUe8Cg);
--z6hHOQ: #fff2e5;
--obRuhA: #ebf3ff;
--boEbdA: #f2f0ff;
--h_CagA: #e7f9e7;
--NyaZXw: rgba(28,39,48,.5);
--7AEt2A: rgba(43,59,74,.3);
--8cBlVQ: rgba(36,49,61,.4);
--ZA_Lcw: 0px 0px 1px rgba(64,87,109,.07),0px 2px 2px rgba(43,59,74,.3);
--vGgkVA: #e0d9fc;
--aVKIMQ: var(--S_zKBQ);
--rWJU7g: var(--fPN_wg);
--K_6wVA: var(--K12xjw);
--k0HN9A: var(--B2THfg);
--t1dJPA: var(--S_zKBQ);
--w3Mwhw: var(--K12xjw);
--6Ym1Xg: rgba(17,23,29,.6);
--Q6ntOQ: 0 2px 4px -1px rgba(57,76,96,.15);
--gwrM2g: 0 2px 4px -1px rgba(57,76,96,.15);
--B7uCHg: none;
--no9zKw: 1;
--sFcH-Q: hsla(0,0%,100%,.07);
--vEnm3A: #515154;
--v5pfSw: 0 0 0 1px rgba(64,87,109,.07),0 0 8px 0 rgba(57,76,96,.15);
--Th1V1g: 0 0 0 1px rgba(64,87,109,.07),0 0 8px 0 rgba(57,76,96,.15);
--u7pYIA: 0 0 0 1px rgba(64,87,109,.07),0 0 8px 0 rgba(57,76,96,.15);
--6r3bdQ: 0 0 0 1px rgba(64,87,109,.07),0 0 8px 0 rgba(57,76,96,.15);
-webkit-tap-highlight-color: transparent;
color: var(--pUV7hA);
position: relative;
width: 100%;
grid-row: 3/4;
z-index: 1;
grid-column: 1/3;
box-sizing: border-box;
padding-left: 16px;
}